<!--
//////////////////////////////////////////////////////////////////////////
// Criacao...........: 06/2014
// Sistema...........: Loja Virtual
// Analistas.........: Marilene Esquiavoni & Denny Paulista Azevedo Filho
// Desenvolvedores...: Marilene Esquiavoni & Denny Paulista Azevedo Filho
// Copyright.........: Marilene Esquiavoni & Denny Paulista Azevedo Filho
//////////////////////////////////////////////////////////////////////////
-->

@using System.Web.Optimization
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MD Loja Virtual</title>

    @Styles.Render("~/Content/css")

</head>

<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">MD Loja Virtual - Seu esporte é aqui </a>
        @Html.Action("Resumo","Carrinho")
    </div>
    <div class="row panel">
        <div id="categorias" class="col-xs-3">
            @Html.Action("Menu","Categoria")
        </div>
        <div id="produtos" class="col-xs-8">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts",required: false)
</body>

</html>