<!--
//////////////////////////////////////////////////////////////////////////
// Criacao...........: 06/2014
// Sistema...........: Loja Virtual
// Analistas.........: Marilene Esquiavoni & Denny Paulista Azevedo Filho
// Desenvolvedores...: Marilene Esquiavoni & Denny Paulista Azevedo Filho
// Copyright.........: Marilene Esquiavoni & Denny Paulista Azevedo Filho
//////////////////////////////////////////////////////////////////////////
-->

@model MD.LojaVirtual.Dominio.Entidades.Pedido

@{
    ViewBag.Title = "Pedido Concluído";
}

<h2>Obrigado!</h2>

Obrigado pela sua compra, iremos enviar o pedido o mais rápido possível.

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmbrulhaPresente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmbrulhaPresente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutosPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutosPedido, templateName: "ProdutosPedidoList")
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Concluir", "Index", "Nav", null, new { @class = "btn btn-success" })
</p>